<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../education.css">
</head>
<body>
   <div class="container">
    <div class="sidebar sidebarGo">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="intro.html">My Intro</a></li>
                <li><a href="education.html" class="active">Education</a></li>
                <li><a href="blog.html">Resposibility</a></li>
                <li><a href="contact.html">Contact Me</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <div class="hamburger">
            <img class="ham" src="../images/ham.png" alt="" width="23">
            <img class="cross" src="../images/cross.png" alt="" width="23">
        </div>
        <section class="-counter">
            <h1 class="h-primary centre">MY Education</h1>
             <div id="services">
                <div class="box">
                    <a href="https://nitkkr.ac.in/" target="_blank">
                        <img src="../images/NIT-Kurukshetra2.jpg" alt="">
                    </a>
                    <a href="https://nitkkr.ac.in/" target="_blank">
                        <h2 class="h-secondary centre">National Institute Of Technology , Kurukhetra</h2>
                    </a>
                    <h6> &nbsp;&nbsp; </h6>
                    <hr color="black" />
                    <h3 class="centre"> &nbsp;&nbsp; B.Tech. &nbsp;&nbsp;&nbsp;&nbsp;  9.14 CGPA(upto 5th Sem) &nbsp;&nbsp;&nbsp;&nbsp; (2020-2024)  </h3>
                    <hr color="black" />
                </div>
                <div class="box">
                    <a href="http://mlsdavnarnaul.net.in/" target="_blank">
                        <img src="../images/MLS DAV.jpg" alt="">
                    </a>
                    <a href="http://mlsdavnarnaul.net.in/" target="_blank">
                        <h2 class="h-secondary centre">M.L.S.  D.A.V. Sr. Sec. Public School , Narnaul</h2>
                    </a>
                    <hr color="black" />
                    <h3 class="centre"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 12th &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp; 92.2% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp; (2018-2019)  </h3>
                    <hr color="black" />
                    <h3 class="centre"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10th &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp; 9.6 CGPA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp; (2016-2017)  </h3>
                    <hr color="black" />
                </div>
                <!-- <div class="box">
                    <img src="../images/MLS DAV.jpg" alt="">
                    <h2 class="h-secondary centre">Food Ordering</h2>
                    <p class="centre">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, nesciunt autem iure in architecto nobis corporis temporibus amet animi perferendis qui voluptatibus, eligendi incidunt suscipit odit? Dolores saepe totam nesciunt illo vitae iure aperiam? </p>
                </div> -->
             </div>
        </section>
    </div>
   </div>
   <script src="../script.js"></script>
</body>
</html>