<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
   <div class="introduction">
    <div class="sidebar sidebarGo">
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="intro.html"  class="active">My Intro</a></li>
            <li><a href="education.html">Education</a></li>
            <li><a href="blog.html">Resposibility</a></li>
            <li><a href="contact.html">Contact Me</a></li>
          </ul>
        </nav>
    </div>
    <div class="main">
        <div class="hamburger">
          <img class="ham" src="../images/ham.png" alt="" width="23">
          <img class="cross" src="../images/cross.png" alt="" width="23">
        </div>
        <div class="intro">
           <h2>About Me</h2>
           <p>I am a Senior at NIT Kurukhetra pursuing my Btech(2020-2024),
             an enthusiastic problem solver eager to contribute to team success through hard work and dedication,my passion lies in the field of coding and solving real life problems,I love to play cricket,listen music and deep interest in doing business.
            </p>
           <h2>My Skills</h2>
           <div class="skillContainer">
               <div class="skillname">
                <div class="skillItem">C++:&nbsp&nbsp</div>
                <div class="skillItem">HTML:&nbsp&nbsp</div>
                <div class="skillItem">CSS:&nbsp&nbsp </div>
                <div class="skillItem">SQL:&nbsp&nbsp</div>
                <div class="skillItem">Python:&nbsp&nbsp</div>
                <div class="skillItem">Javascript:&nbsp&nbsp</div>
               </div>
               <div class="skillper">
                <div class="skill "><p>90%</p></div>
                <div class="skill t100"><p>87%</p></div>
                <div class="skill t99"><p>83%</p></div>
                <div class="skill t75"><p>74%</p></div>
                <div class="skill t50"><p>62%</p></div>
                <div class="skill t25"><p>48%</p></div>
               </div>
           </div>
           <h2>My Projects....</h2>
           <div class="projectlist">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <a href="https://sevaapp.vercel.app/" class="card-title" target="_blank">
                    <h5 class="card-title">1. Seva (NIT KKR)
                    </h5>
                  </a>
                  <p class="card-text">A Crowdfunding Platform for collecting donations for College Clubs & Societies.</p>
                  <img src="../images/Seva.jpg" class="card-img-top" alt="...">
                  <a href="https://sevaapp.vercel.app/" target="_blank" class="btn btn-sm">Have a look</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">2. Spotify Clone</h5>
                  <p class="card-text">Spotify clone that plays your favourite songs without ad in user
                    friendly interface.</p>
                  <img src="../images/spotifyclone.jpg" class="card-img-top" alt="...">
                  <a href="#" class="btn btn-sm">Have a look</a>
                </div>
            </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">3. Daily Goals</h5>
                  <p class="card-text">Platform to complete individual's Daily Task and maintain his/her  Daily Schedule.</p>
                  <img src="../images/dailygoals.jpg" class="card-img-top" alt="...">
                  <a href="#" class="btn btn-sm">Have a look</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">4. Nikunj's Fitness</h5>
                  <p class="card-text">Stylish Texture for Gym website.</p>
                  <img src="../images/nikunjfitness.png" class="card-img-top" alt="...">
                  <a href="#" class="btn btn-sm">Have a look</a>
                </div>
              </div>
           </div>
    </div>
   </div>
</div>
   <script src="../script.js"></script>
</body>
</html>